<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FeedbackEnabled" value="false" />
    <add key="OpenLocalDemo" value="true" />
    <add key="SiteMode" value="false" />
    <add key="DemoProduct" value="ASPxGantt" />
    <add key="PatchConnectionStrings" value="true" />
  </appSettings>
  <!--
  Warning:
  DevExpress code patches connection strings at runtime by default to automatically connect to an available SQL Server instance.
  To avoid this behavior and use the strings as they are, change the <appSettings> configuration element's PatchConnectionStrings key value to false.
  -->
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error404.aspx" />
      <error statusCode="500" redirect="/Error500.aspx" />
    </customErrors>
    <globalization culture="en-US" uiCulture="en-US" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="DevExpress.Web.Demos" />
      </namespaces>
      <controls>
        <add src="~/UserControls/Head.ascx" tagName="Head" tagPrefix="dx" />
        <add src="~/UserControls/CustomResources.ascx" tagName="CustomResources" tagPrefix="dx" />
        <add src="~/UserControls/DemoTabs.ascx" tagName="DemoTabs" tagPrefix="dx" />
        <add src="~/UserControls/ThemeParametersSelector.ascx" tagName="ThemeParametersSelector" tagPrefix="dx" />
        <add src="~/UserControls/ThemeSelector.ascx" tagName="ThemeSelector" tagPrefix="dx" />
        <add src="~/UserControls/Navigation.ascx" tagName="Navigation" tagPrefix="dx" />
        <add src="~/UserControls/Search.ascx" tagName="Search" tagPrefix="dx" />
        <add src="~/UserControls/FooterText.ascx" tagName="FooterText" tagPrefix="dx" />
        <add src="~/UserControls/AccessibilityValidatorLink.ascx" tagName="AccessibilityValidatorLink" tagPrefix="dx" />
        <add src="~/UserControls/SkipRepetitiveNavigationLinksControl.ascx" tagName="SkipRepetitiveNavigationLinksControl" tagPrefix="dx" />
        <add src="~/UserControls/EventMonitor.ascx" tagName="EventMonitor" tagPrefix="dx" />
        <add src="~/UserControls/ServerEventMonitor.ascx" tagName="ServerEventMonitor" tagPrefix="dx" />
        <add src="~/UserControls/Products.ascx" tagName="Products" tagPrefix="dx" />
        <add src="~/UserControls/ErrorMessage.ascx" tagName="ErrorMessage" tagPrefix="dx" />
        <add src="~/UserControls/FeedbackPanel.ascx" tagName="FeedbackPanel" tagPrefix="dx" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGantt" assembly="DevExpress.Web.ASPxGantt.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="DevExpress.CodeParser.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v22.2.Core, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v22.2.Export, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Web.DemoData.v22.2, Version=22.2.3.0, Culture=neutral" />
        <add assembly="DevExpress.Web.DemoTheme.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGantt.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Drawing.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="30720" />
    <httpModules>
      <add type="DevExpress.Web.Demos.UnsupportedBrowserHttpModule, Web.DemoData.v22.2, Version=22.2.3.0, Culture=neutral" name="UnsupportedBrowserHttpModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.Demos.UnsupportedBrowserHttpModule, Web.DemoData.v22.2, Version=22.2.3.0, Culture=neutral" name="UnsupportedBrowserHttpModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" customThemeAssemblies="DevExpress.Web.DemoTheme.v22.2, Version=22.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" ieCompatibilityVersion="edge" />
  </devExpress>
</configuration>